body{
width:90%;
margin:auto;
min-width:600px;
max-width:2000px;
}
#header {
position: absolute;
top: 0; right: 0; bottom:0; left: 0;
height: 5%;
width: 100%;
background: #3d3d5c; 
background: -webkit-linear-gradient(#3d3d5c, #666699);
background: -o-linear-gradient(#3d3d5c, #666699);
background: -moz-linear-gradient(#3d3d5c, #666699);
background: linear-gradient(#3d3d5c, #666699);
border-style: solid;
border-width: thin;
z-index:102;
}
#mini{
padding-top:5px;
height: 80%;
width: 2%;
}
#main{
display: absolute;
top: 10; right: 0; bottom:0; left: 0;
height: 1350px;
width: 100%;
background: url('rotobg1.png');
background-repeat: no-repeat;
z-index:101;
margin: 0 auto;
padding: 0.25em 0.625em;
}
#logo{
height:70%;
width:50%;
float:middle;
padding-top: 20%;
padding-left: 20%;
z-index:100;
}
#about{
display:absolute;
top: 0; right: 0; bottom:0; left: 0;
height:500px;
width:100%;
background: white; 
margin: 0 auto;
padding: 0.25em 0.625em;
}
#f1{
width:33%;
height:200px;
display: inline-block;
background: #3d3d5c; 
background: -webkit-linear-gradient(#3d3d5c, #666699);
background: -o-linear-gradient(#3d3d5c, #666699);
background: -moz-linear-gradient(#3d3d5c, #666699);
background: linear-gradient(#3d3d5c, #666699);
margin: 0 auto;
padding: 0.25em 0.625em;
}
#f2{
width:33%;
height:200px;
display: inline-block;
background: #3d3d5c; 
background: -webkit-linear-gradient(#3d3d5c, #666699);
background: -o-linear-gradient(#3d3d5c, #666699);
background: -moz-linear-gradient(#3d3d5c, #666699);
background: linear-gradient(#3d3d5c, #666699);
margin: 0 auto;
padding: 0.25em 0.625em;
}
#f3{
width:33%;
height:200px;
display: inline-block;
background: #3d3d5c; 
background: -webkit-linear-gradient(#3d3d5c, #666699);
background: -o-linear-gradient(#3d3d5c, #666699);
background: -moz-linear-gradient(#3d3d5c, #666699);
background: linear-gradient(#3d3d5c, #666699);
margin: 0 auto;
padding: 0.25em 0.625em;
}

